<ion-view view-title="工作">
    <ion-content>
        <ion-item class="item-icon-right">
            <!--<div class="list list-header">-->
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="查找你想要的工作">
                </label>
            <!--</div>-->
        </ion-item>

        <div class="list card">
            <div class="item item-divider-chinese item-scolar">你可能感兴趣的工作</div>
            <a class="item item-thumbnail-left" href="#">
                <img src="http://a.hiphotos.baidu.com/image/pic/item/e61190ef76c6a7efce7315cef9faaf51f2de6684.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="http://a.hiphotos.baidu.com/image/pic/item/e61190ef76c6a7efce7315cef9faaf51f2de6684.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="http://a.hiphotos.baidu.com/image/pic/item/e61190ef76c6a7efce7315cef9faaf51f2de6684.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="http://a.hiphotos.baidu.com/image/pic/item/e61190ef76c6a7efce7315cef9faaf51f2de6684.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="http://a.hiphotos.baidu.com/image/pic/item/e61190ef76c6a7efce7315cef9faaf51f2de6684.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
        </div>
    </ion-content>
</ion-view>
