<ion-view view-title="我的实验室">
    <ion-content>
        <a class="item item-thumbnail-left" href="#">
            <img src="http://img5.imgtn.bdimg.com/it/u=4022597353,3561476228&fm=21&gp=0.jpg">
            <h1>嵌入式应用实验室</h1>
            <p>Nine Inch Nails</p>
            <div class="item item-text-wrap">
                <button class="button button-small button-stable">
                    AI
                </button>
                <button class="button button-small button-stable">
                    Computing Graphics
                </button>
                <button class="button button-small button-stable">
                    Deep Learning
                </button>
            </div>
        </a>
        <div class="item tabs tabs-background-calm tabs-secondary tabs-icon-left">

            <a class="tab-item" href="#">
                <i class="icon ion-plus-round"></i>
                FOLLOW
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-thumbsup"></i>
                LIKE
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-chatbox"></i>
                CHAT
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-share"></i>
                SHARE
            </a>
        </div>

        <!--<div class="item item-body">-->
            <div class="card">

                <div class="item item-divider-chinese item-scolar">
                    实验室简介
                </div>
                <div class="item item-text-wrap">
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                    the content is from a card-body consisting of an image and paragraph text. The footer
                    consists of tabs, icons aligned left, within the card-footer.
                </div>
                <div class="item item-divider-chinese item-scolar">
                    研究内容
                </div>
                <div class="item item-text-wrap">
                    <div class="item item-text-wrap">
                    <button class="button button-small button-stable">
                        AI
                    </button>
                    <div class="item item-text-wrap">
                        人工智能是一门极富挑战性的科学，从事这项工作的人必须懂得计算机知识，心理学和哲学。
                        人工智能是包括十分广泛的科学，它由不同的领域组成，如机器学习，计算机视觉等等，总的说来，
                        人工智能研究的一个主要目标是使机器能够胜任一些通常需要人类智能才能完成的复杂工作。但不
                        同的时代、不同的人对这种“复杂工作”的理解是不同的。
                    </div>
                        </div>
                    <div class="item item-text-wrap">
                    <button class="button button-small button-stable">
                        Computing Graphics
                    </button>
                    <div class="item item-text-wrap">
                        This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                        the content is from a card-body consisting of an image and paragraph text. The footer
                        consists of tabs, icons aligned left, within the card-footer.
                    </div>
                        </div>
                    <div class="item item-text-wrap">
                    <button class="button button-small button-stable">
                        Deep Learning
                    </button>
                    <div class="item item-text-wrap">
                        This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                        the content is from a card-body consisting of an image and paragraph text. The footer
                        consists of tabs, icons aligned left, within the card-footer.
                    </div>
                        </div>
                </div>
                <div class="item item-divider item-scolar">
                    Publications
                </div>
                <div class="item item-text-wrap">
                    <div class="card">
                        <div class="item item-thumbnail-left item-text-wrap">
                            <img src="http://img2.template.cache.wps.cn/wps/cdnwps/upload/official/template/2013-2-28/512f06495b794.png">
                            <p>
                                Article: Adaptive Read Thresholds for NAND Flash
                                Borja Peleato · Rajiv Agarwal · John M. Cioffi · Minghai Qin · Paul H. Siegel
                            </p>
                            <button class="button button-small button-stable">
                                Borja Peleato
                            </button>
                            <button class="button button-small button-stable">
                                Rajiv Agarwal
                            </button>
                            <button class="button button-small button-stable">
                                John M. Cioffi
                            </button>
                            <button class="button button-small button-stable">
                                Minghai Qin
                            </button>
                            <button class="button button-small button-stable">
                                Paul H. Siegel
                            </button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="item item-thumbnail-left item-text-wrap">
                            <img src="http://img2.template.cache.wps.cn/wps/cdnwps/upload/official/template/2013-2-28/512f06495b794.png">
                            <p>
                                Article: Hiring Editorial Member for Receiving Papers from Authors
                                Mehdi Dadkhah · Ali Tarhini · Vyacheslav V Lyashenko · Mohammad Davarpanah
                            </p>
                            <button class="button button-small button-stable">
                                Mehdi Dadkhah
                            </button>
                            <button class="button button-small button-stable">
                                Ali Tarhini
                            </button>
                            <button class="button button-small button-stable">
                                Vyacheslav V Lyashenko
                            </button>
                            <button class="button button-small button-stable">
                                Mohammad Davarpanah
                            </button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="item item-thumbnail-left item-text-wrap">
                            <img src="http://img2.template.cache.wps.cn/wps/cdnwps/upload/official/template/2013-2-28/512f06495b794.png">
                            <p>
                                Article: A Path Generation Approach to Embedding of Virtual Networks
                                Rashid Mijumbi · Joan Serrat · Juan-Luis Gorricho · Raouf Boutaba
                            </p>
                            <button class="button button-small button-stable">
                                Vyacheslav V Lyashenko
                            </button>
                            <button class="button button-small button-stable">
                                Mohammad Davarpanah
                            </button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="item item-thumbnail-left item-text-wrap">
                            <img src="http://img2.template.cache.wps.cn/wps/cdnwps/upload/official/template/2013-2-28/512f06495b794.png">
                            <p>
                                Conference Paper: Video on Demand hosted in Private Cloud: Availability Modeling and Sensitivity Analysis
                                Rosangela Maria de Melo · Maria Clara Bezerra · Jamilson Dantas∗ · Rubens Matos · Ivanildo José de Melo Filho · Paulo Romero Martins Maciel
                            </p>
                            <button class="button button-small button-stable">
                                Vyacheslav V Lyashenko
                            </button>
                            <button class="button button-small button-stable">
                                Mohammad Davarpanah
                            </button>
                        </div>
                    </div>

                    <div class="item item-divider-chinese item-scolar">
                        联系方式
                    </div>
                    <div class="item item-text-wrap">
                        <div class="list card">

                            <a href="#" class="item item-icon-left">
                                <i class="icon ion-home"></i>
                                Enter home address
                            </a>

                            <a href="#" class="item item-icon-left">
                                <i class="icon ion-ios-telephone"></i>
                                Enter phone number
                            </a>

                            <a href="#" class="item item-icon-left">
                                <i class="icon ion-wifi"></i>
                                Enter wireless password
                            </a>

                            <a href="#" class="item item-icon-left">
                                <i class="icon ion-card"></i>
                                Enter card information
                            </a>


                        </div>
                    </div>
                    <div class="item item-divider-chinese item-scolar">
                        实验室人员
                    </div>
                    <ion-list>
                        <div class="item item-divider-chinese-small">研究员</div>
                        <ion-item class="item-avatar item-icon-right" type="item-text-wrap" href="#">
                            <img ng-src="http://img5.duitang.com/uploads/item/201503/26/20150326161657_aL8FW.jpeg">
                            <h2>Venkman</h2>
                            <p>Back off, man. I'm a scientist.</p>
                        </ion-item>
                        <a class="item item-avatar" href="#">
                            <img src="http://img5.duitang.com/uploads/item/201503/26/20150326161657_aL8FW.jpeg">
                            <h2>Venkman</h2>
                            <p>Back off, man. I'm a scientist.</p>
                        </a>
                        <a class="item item-avatar" href="#">
                            <img src="http://img5.duitang.com/uploads/item/201503/26/20150326161657_aL8FW.jpeg">
                            <h2>Venkman</h2>
                            <p>Back off, man. I'm a scientist.</p>
                        </a>

                        <div class="item item-divider-chinese-small">在校研究生</div>
                        <a class="item item-avatar" href="#">
                            <img src="http://img5.duitang.com/uploads/item/201503/26/20150326161657_aL8FW.jpeg">
                            <h2>Venkman</h2><p>Back off, man. I'm a scientist.</p>

                        </a>
                        <a class="item item-avatar" href="#">
                            <img src="http://img5.duitang.com/uploads/item/201503/26/20150326161657_aL8FW.jpeg">
                            <h2>Venkman</h2>
                            <p>Back off, man. I'm a scientist.</p>
                        </a>

                        <a class="item item-avatar" href="#">
                            <img src="http://img5.duitang.com/uploads/item/201503/26/20150326161657_aL8FW.jpeg">
                            <h2>Venkman</h2>
                            <p>Back off, man. I'm a scientist.</p>
                        </a>

                        <div class="item item-divider-chinese-small">校友</div>
                        <a class="item item-avatar" href="#">
                            <img src="http://img5.duitang.com/uploads/item/201503/26/20150326161657_aL8FW.jpeg">
                            <h2>Venkman</h2>
                            <p>Back off, man. I'm a scientist.</p>
                        </a>

                    </ion-list>
                </div>


            </div>

        <!--</div>-->
        </div>
        </ion-list>
    </ion-content>
</ion-view>
