/* Empty. Add your own CSS if you like */
.ll-item-avatar {
    overflow: auto;
    padding: 16px;
    min-height: 72px;
   position: absolute;
    top: 16px;
    left: 16px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
    line-height: 3;
    border-radius: 50%; }
.ll-item-body {
    overflow: auto;
    padding: 16px;

    text-overflow: inherit;
    white-space: normal; }
.item.item-scolar{
    border-color: #0a9ec7;
    background-color: #00d9a7;
    color: #fff;
}

.item-divider-chinese {
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 30px;
    background-color: #f5f5f5;
    color: #222;
    font-family: SimHei;
    font-size: 125%;
    font-weight: 500; }


.item-divider-chinese-small {
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 30px;
    background-color: #f5f5f5;
    color: #222;
    font-family: SimHei;
    font-size: 100%;
    font-weight: 500; }


ion-view{
    font-family: STHeiti;
    font-size: 26;
}